body {
    font-family: 'Arial', sans-serif; /* Keep Arial for the body text for better readability */
    background-color: #FDF2AE; /* Light sky blue, matching the background */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.title, .gameOverText {
    font-family: 'Jolly Lodger', cursive; /* Updated font */
    font-size: 36px;
    color: #FFFFFF; /* White for better contrast */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000; /* Black shadow for better readability */
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #608926; /* Darker blue to stand out against the sky */
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#howToButton {
    background-color: #ECAF12; /* Gold color to make it distinctive */
}

.duck {
    position: absolute;
    width: 50px;
    cursor: crosshair;
    transition: top 0.5s linear;
}

.title, .gameOverText {
    font-family: 'Jolly Lodger', cursive;
    font-size: 100px;
    color: #00023F;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #C891AF;
}
